body {
  font-size: 20;
  background-color: palegoldenrod;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='text'] { 
  font-size: 24px; 
  color: black;
}

input[type='submit'] { 
  font-size: 24px;
  color: black;
}

.form {
  width: 600px;
  margin: 0px auto;
  font-size: 8em;
}
